table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-delete {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(235, 15, 15);

    &:hover {
        background-color: transparent !important;
        color: rgb(181, 60, 60) !important;
    }
}

.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(243, 137, 8);

    &:hover {
        background-color: transparent !important;
        color: rgb(239, 186, 13) !important;
    }
}